body {
    background: linear-gradient(rgb(242, 242, 143), rgb(171, 251, 251));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.oval {
    background: linear-gradient(lightblue 40%, pink);
    color: black;
    width: 300px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid black;
}

.screen {
    width: 125px;
    height: 125px;
    background: rgb(106, 115, 104);
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 3px solid black;
    flex-direction: column;
}

h1 {
    font-size: 55px;
    text-align: center;
    color: black;
    margin: 0;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 0;
}